<div class="card-status" fxLayout="row" fxLayoutAlign="center center">
  <div
    class="status"
    appVariant
    [type]="status.type"
    [matBadge]="status?.value"
    matBadgeColor="accent"
    matBadgeSize="medium"
  >
    <div class="icon-container">
      <app-icon [key]="status.svgUrl" [size]="3.5"></app-icon>
    </div>
  </div>
  <div
    class="text-container"
    fxLayout="column"
    fxLayoutAlign="end start"
    [fxFlexOffset]="5"
  >
    <app-typography  [bold]="600">
      {{ status.label }}
    </app-typography>
  </div>
</div>
