@import "../../../../../styles/styles.scss";

form,
app-form-input {
  width: 100%;
  font-size: spacing(2);
}

mat-grid-tile.button-tile {
  ::ng-deep div.mat-grid-tile-content {
    align-items: start !important;
    justify-content: start !important;
  }
}

