@use '~@angular/material'as mat;

@include mat.core();

$primary: (
  50: #faf4e9,
  100: #f3e3c8,
  200: #ebd1a4,
  300: #e2bf7f,
  400: #dcb163,
  500: #d6a348,
  600: #d19b41,
  700: #cc9138,
  800: #c68830,
  900: #bc7721,
  A100: #fffbf6,
  A200: #ffe3c3,
  A400: #ffca90,
  A700: #ffbe76,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent: (
  50: #ffeee6,
  100: #ffd4c0,
  200: #ffb797,
  300: #ff9a6d,
  400: #ff854d,
  500: #ff6f2e,
  600: #ff6729,
  700: #ff5c23,
  800: #ff521d,
  900: #ff4012,
  A100: #ffffff,
  A200: #fffaf9,
  A400: #ffcfc6,
  A700: #ffbaad,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$warn: (
  50: #fae6e4,
  100: #f3c1bc,
  200: #ec9890,
  300: #e46e63,
  400: #de4f41,
  500: #d83020,
  600: #d42b1c,
  700: #ce2418,
  800: #c81e13,
  900: #bf130b,
  A100: #ffebeb,
  A200: #ffbab8,
  A400: #ff8885,
  A700: #ff6f6b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$icon: (
  50: #eeeeee,
  100: #d5d5d5,
  200: #bababa,
  300: #9e9e9e,
  400: #898989,
  500: #747474,
  600: #6c6c6c,
  700: #616161,
  800: #575757,
  900: #444444,
  A100: #f6aeae,
  A200: #f18080,
  A400: #ff3f3f,
  A700: #ff2525,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$primary: mat.define-palette($primary, 500);
$accent: mat.define-palette($accent, 500, A100, A400);
$warn: mat.define-palette($warn, 500);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);
