@import "../../../../styles/styles.scss";

mat-table {
  width: 100%;
  height: 100%;
  background-color: transparent !important;
}

mat-cell {
  height: inherit;

  &.center {
    justify-content: center;
  }
}

mat-header-cell {

  &.center {
    justify-content: center;
  }
}

mat-header-row.accent {
  border-bottom: color(accent) solid 3px;
}

mat-header-row.primary {
  border-bottom: color(primary) solid 3px;
}

mat-row {
  height: 5rem;
}

.cell-input {
  width: 85%;

  app-column-form {
    width: inherit;
  }
}

::ng-deep .mat-sort-header-arrow {
  color : color(primary) !important
}

