<div [ngClass]="type" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="card-svg-container" (click)="onStepClick()" [matBadge]="step.value" matBadgeColor="accent"
    matBadgeSize="medium" fxFill>
    <mat-card appVariant [type]="step.type" [variant]="step.variant" [ngClass]="{
        stepper: true,
        'mat-elevation-z0': true,
        active: (active$ | async)
      }">
      <mat-card-content appButton>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxFlex="80">
            <app-icon [active$]="active$" [color]="type === 'wizard'? 'primary': 'disable'" [key]="step.svgUrl" [size]="step.size">
            </app-icon>
          </div>
          <div *ngIf="type === 'wizard'" fxFlex="15" [ngClass]="{ active: (active$ | async) }" fxLayout="column"
            fxLayoutAlign="end center">
            <app-typography [active$]="active$" [classes]="wizardClasses" [activeClasses]="activeWizardClasses">
              {{ step.label }}
            </app-typography>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="type === 'step'" class="label-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="30">
    <app-typography [ngClass]="{ underline: (active$ | async) }" [classes]="{fontWeight : 500}" [activeClasses]="{fontWeight : 600}"
     [active$]="active$" [size]="1.2">
      {{ step.label }}
    </app-typography>
  </div>
</div>
