<mat-toolbar
  dir="rtl"
  class="navbar mat-elevation-z4"
  xLayout="row"
  fxLayoutAlign="start center"
>
  <!-- toggle menu button -->
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="5"
    appUnderline
    appButton
    (click)="toggleMenu()"
  >
    <div fxFlex="40">
      <app-icon
        *ngIf="!isOpen"
        type="svg"
        key="tree"
        color="primary"
        [size]="4"
      ></app-icon>
      <app-icon
        *ngIf="isOpen"
        type="svg"
        [key]="openIcon"
        color="primary"
        [size]="4"
      ></app-icon>
    </div>
    <div fxFlex="10" fxLayout="column" fxLayoutAlign="start center">
      <app-typography [size]="1" color="primary">
        {{ isOpen ? closeLabel : openLabel }}
      </app-typography>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center start" fxFlex="10">
    <app-typography [size]="2.4">
      {{ (title$ | async) }}
    </app-typography>
  </div>

  <!-- main navbar links -->
  <div fxFlex="grow">
    <div class="status-container" fxLayoutAlign="space-evenly stretch">
      <div fxLayout="row" *ngFor="let card of (status$ | async)" appSize [size]="8" [type]="card.type">
        <app-card-status [status]="card"></app-card-status>
      </div>
    </div>
  </div>

  <div fxFlex></div>

  <!-- left side logo -->
  <div
    fxLayout="row"
    fxLayoutAlign="end center"
    class="logo-container"
    fxFlex="10"
  >
    <div *ngFor="let logo of logos">
      <app-icon [key]="logo.key" [size]="logo.size"></app-icon>
    </div>
  </div>
</mat-toolbar>
