@import "../../../../styles/styles.scss";

app-card-status {
  width: 100%;
}

div {
  width: 100%;
  height: 100%;
}

.navbar {
  height: $toolbar-height;
  backdrop-filter: blur(15px) saturate(70%) contrast(70%) brightness(130%);
  background-color: color(paper) !important;
  box-sizing: border-box;
}
