@import "../../../../styles/styles.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: spacing(1);
}

div.title {
  width: 100%;
  border-bottom: 1px solid color(primary);
}

app-typography {
  border-bottom: 3px solid color(accent);

}
