@import "../../../../../styles/styles.scss";

mat-form-field {
  width: 100%;
  font-size: 12px !important;
}

::ng-deep .mat-select-arrow {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  mat-form-field {
    font-size: 9px !important;
  }
}
