<div [ngClass]="type" fxLayout="column" fxLayoutAlign="center center" fxFill>
  <div class="card-svg-container" (click)="onStepClick()" [matBadge]="step.value" matBadgeColor="accent"
    matBadgeSize="medium" fxFill>
    <mat-card appVariant [type]="step.type" [variant]="step.variant" [ngClass]="{
        'mat-elevation-z0': true,
        active: (active$ | async)
      }">
      <mat-card-content appButton>
        <div fxLayout="column" fxLayoutAlign="center center">
          <div fxFlex="80">
            <app-icon [color]="(active$ | async) ? 'paper': 'text'" type="svg" [key]="step.svgUrl || ''" [size]="step.size">
            </app-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="label-container" fxLayout="column" fxLayoutAlign="center center" fxFlex="30">
    <app-typography [ngClass]="{ active: (active$ | async) }" [activeClasses]="{fontWeight : 600}"
      [bold]="(active$ | async) ? 600 : 500" [active$]="active$" [size]="1.1">
      {{ step.label }}
    </app-typography>
  </div>
</div>
