@import "../../../../styles/styles.scss";


.status-container,
div {
  width: 100%;
}

mat-progress-bar.status-progress-bar {
  :ng-deep .mat-progress-bar-buffer {
    background-color: #90a4ae !important;
  }

  :ng-deep .mat-progress-bar.mat-accent.mat-progress-bar-buffer {
    background-color: #90a4ae !important;
  }

  ::ng-deep .mat-progress-bar-buffer.mat-progress-bar-element {
    background-color: color(light-text) !important;
  }
}

.step-label {
  padding-top: spacing(1);
}

div.status-bar {
  height: spacing(0.5);
  width: 100%;
  background-color: color(disable);

  &.active {
    background-color: color(accent);
  }
}
