<div class="status-container" fxFill fxFlex="row" dir="rtl" (click)="onClick()">
  <mat-grid-list
    [cols]="cols || 8"
    [rowHeight]="(height || 1) + 'rem'"
    [gutterSize]="0.5 + 'rem'"
  >
    <mat-grid-tile [colspan]="cols || 8" rowspan="2">
      <app-typography *ngIf="!slots">
        {{ status.label }}
      </app-typography>

      <ng-container
        *ngTemplateOutlet="slots?.textRef; context: { status: this.status }"
      ></ng-container>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let step of steps; let i = index" rowspan="2">
      <div fxLayout="column">
        <div [ngClass]="{ 'status-bar': true, active: !!step }"></div>
        <div
          class="step-label"
          *ngIf="hasLabel"
          fxLayout="column"
          fxLayoutAlign="end center"
        >
          <app-typography [color]="step ? 'accent' : 'disable'" [size]="1.2">
            0{{ i + 1 }}
          </app-typography>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
