@import "../../../../styles/styles.scss";

.status-spinner {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;

  .mat-progress-spinner {
    position: absolute;
  }
}

:host ::ng-deep .background-spinner circle {
  stroke: color(disable);
}
:host ::ng-deep .main-spinner {
  z-index: 10;
}
