.supplier-check {
    .header {
        float: right;
        padding: 5rem;
        h1 {
            font-size: 3rem;
            font-weight: 500;
        }
        p {
            font-size: 1.2rem;
        }
    }
}
